@charset "utf-8";

/* 모든 디바이스 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1em;
    font-weight: 400;
}
/* All 컨테이너 */
.container{
    background: silver;
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap; 
}

/* All 헤더 */
.header{
    background: yellow;
    /*viewport height  보이는 화면에 100분의 10으로*/
}

/* All 네비게이션 */
.navigation{
    background: pink;
}

/* All 메인 콘텐츠 */
.main-content{
    background: skyblue;
}

/* All 광고 */
.ad{
    background: orange;
}
.footer{
    background: lime;
}

/* 모든 스타일 */

/* 모바일 스타일 */
    /* 컨테이너 */
    /* 모바일 헤더 */
    .header{
        /* grow shrink basis */
        flex-basis: 100%;
        height: 50px;
    }

    /* 모바일 네비게이션 */
    .navigation{
        height: 50px;
        flex-basis: 100%;
    }

    /* 모바일 메인 콘텐츠 */
    .main-content{
        height: calc(100vh - 200px);
        flex-basis: 100%;
    }

    /* 모바일 광고 */
    .ad{
        flex-basis: 100%;
        height: 50px;
    }

    /* 모바일 푸터 */
    .footer{
        flex-basis:100%;
        height: 50px;
    }

/* 테블릿 스타일 */
/* 50em -> 50글자까지 , 폰트사이즈 16px일경우 800px까지 */
@media screen and (min-width:50em){
    /* 800 헤더 */
    .header{
        flex-basis: 70%;
    }

    /* 800 네비게이션 */
    .navigation{
        flex-basis:30%;
    }

    /* 800 메인 콘텐츠 */
    .main-content{
        flex-basis:100%;
        height: calc(100vh - 150px);
    }
    /* Tablet 레이아웃 순서 */
    .header, .navigation, .ad{
        order: -1;
    }
}

/* 랩탑 스타일 */
@media screen and (min-width:64em){
    /* 랩탑 순서 */
      .navigation{
        order: -2;
    }

    /* 랩탑 헤더 */
    .header{
        flex-basis: 100%;        
    }

    /* 랩탑 메인 콘텐츠 */
    .main-content{
        flex-basis: 100%;        
    }

    /* 랩탑 광고 */
    .ad{
        flex-basis: 30%;        
        height: calc(100vh - 150px);
    }
}

/* 와이드 랩탑 스타일 */
@media screen and (min-width:100em){
    /* 와이드 랩탑 헤더 */
    .navigation, .ad{
        order: 0;
    }
    .navigation, .main-content, .ad{
        height: calc(100vh - 100px);
    }

    /* 와이드 네비게이션  */
    .navigation{
        flex-basis: 30%;
      }

    /* wide 메인 콘텐츠 */
    .main-content{
        flex-basis: 50%;
    }

    /* wide 광고 */
    .ad{
        flex-basis: 20%;
    }
}
